body {
}

#imgBox {
    background-image: url(/Content/Images2/wallpaper14.png);
}

#sortedList {
    overflow: auto;
    max-height: 300px;
}

#innerImg {
    height: 150px;
    width: 150px;
    float: right;
    border-radius: 50%;
}

#lReg {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 200px;
    display: none;
}

#proName {
    background-image: url(/Content/Images2/wallpaper14.png);
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-style: normal;
    font-size: large;
}

#detailsTbl {
    border: 1px solid #c2c2a3;
}

#linkOnList {
    text-decoration: none;
}

    #linkOnList:hover {
        color: darkblue;
    }

#addGrp {
    border: dotted 1px black;
    height: 106px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: #ffd777;
}

#creategrp {
    border: dotted 1px black;
    height: 200px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: #ffd777;
}

#row1 {
    height: 10px;
    border: 1px black solid;
}

#tile {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#Grptable {
    column-width: auto;
    visibility: visible;
}

#imgIcon {
    height: 40px;
    width: 40px;
}

#sendRequest {
    height: 30px;
    color: black;
    background-color: #ffd777;
}

#btnCreate {
    background-color: #ffd777;
}
